$def with (form)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>RGB LED Remote</title>
<link rel="stylesheet" type="text/css" href="/static/styling.css" />
<!--
<script type="text/javascript" src="FIXME"></script>
<style type="text/css">
/* <![CDATA[ */
/* ]]> */
</style>
-->
</head>
<body>

    <div id="main">
        <div id="header">
            <h1 id="heading">Le colour select!</h1>
        </div>
        <div id="videoplayer">
            <img src="/static/arduino_pic.jpg" alt="Arduino with RGB LED" />
        </div>
        <div id="controls">
            <form method="post" accept-charset="utf-8">
            </form>
        </div>
    </div>

</body>
</html>
