$def with (form, response)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>RGB LED Remote</title>
<link rel="stylesheet" type="text/css" href="/static/styling.css" />

<!-- AJAX stuff -->
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/ajax.js"></script>

<!-- Colour select wheel (also requires jQuery.js) -->
<script type="text/javascript" src="/static/farbtastic.js"></script> 
<link rel="stylesheet" href="/static/farbtastic.css" type="text/css" /> 
<script type="text/javascript" charset="utf-8"> 
    $$(document).ready(function() {
        $$('#demo').hide();
        $$('#colourpicker').farbtastic('#colour');
    });
</script> 

</head>
<!--
<style type="text/css">
/* <![CDATA[ */
/* ]]> */
</style>
-->
</head>
<body>

    <div id="main">
        <div id="header">
            <h1 id="heading">*Le colour select*</h1>
        </div>
        <div id="videoplayer">
            <img src="/static/arduino_pic.jpg" alt="Arduino with RGB LED"
            width="450px"/>
        </div>
        <div id="controls">
            <span id="response">
            $if not form.valid:
                <p class="error">Invalid input</p>
            $if response:
                <p>$response</p>
            $else:
                <p>Please select a new colour:</p>
            </span>
            <div id="colourpicker"></div>
            <form method="post" accept-charset="utf-8">
                $:form.render()
            </form>
        </div>
    </div>

</body>
</html>
